@import "tailwindcss";

/* General header styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right,rgb(39, 188, 188), #63b3ed); /* example: blend of #3c8daa and light blue */
  cursor: pointer;
  transition: border-color 0.25s, background 0.3s ease;
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
  opacity: 1;
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

/* Logo styling */
.header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: sans-serif;
  flex: 1 1 auto;
}

/* Navigation styling */
.header nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* On small screens: stack items vertically */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: #87b2dc;
    width: 100%;
    padding: 1rem 0;
  }

  .header nav {
    width: 100%;

    justify-content: center;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: auto;
  }
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #e0f0ff;
}

